
{% extends 'base.html' %}
{% block content %}

    <h1>Generative AI Application Using Django!!!</h1>
  <br><br>
   
  <form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <label for="user_input">Enter something:</label>
    <input type="text" name="user_input" id="user_input" value="{{ user_input }}">
   <br><br>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% if response %}
      <h3>Gemini Response 😃</h3>
      <p> {{ response }}</p>
  {% endif %}

{% endblock %}


